.body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    height: 10vh;
    text-align: center;
    width: 100vw;
    font-size: 26px;
}

.navbutton {
    color: white;
    margin: 0 1rem;
}

.navbutton:hover {
    color: white;
    text-decoration: underline;
}

.container {
    max-width: 900px;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h1 {
    text-align: center;
    margin: 1rem;
}

.post-container {
    border: 1px solid black;
    width: 600px;
    height: 200px;
    padding: 1rem;
    margin: 1rem;
}

.h2 {
    margin: 1rem 0;
    font-size: 20px;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    max-width: 50%;
}

button:hover {
    background-color: #818186;
}

.delete-button {
    background-color: #ca0000;
    margin-top: 10px;
}

.control-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}